body {
  background: linear-gradient(to top, white 0%, #b4d2f0 100%);
}

.logo {
  margin-bottom: -20px;
}
.printer {
  display: block;
  margin: 0 auto;
  padding: 5px;
  border-radius: 30px;
  border: solid #004aad 5px;
}
.address {
  text-decoration: underline;
  color: #004aad;
}
.email {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-style: normal;
  font-size: 60px;
  color: #004aad;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
}
h2 {
  font-size: 25px;
  color: #004aad;
  font-style: italic;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}
h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #004aad;
  font-style: italic;
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
}
div {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #004aad;
}
button {
  display: block;
  margin: 0 auto;
  background: white;
  color: #004aad;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0, 0, 0, 0.5 #000;
  padding: 10px 20px;
  text-decoration: none;
}
button:hover {
  cursor: pointer;
  background: #004aad;
  color: white;
  transition: ease-in-out 200ms;
  text-decoration: none;
}
